doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(http-equiv='x-ua-compatible', content='IE=edge')
    title Demo Day App
    link(rel='stylesheet', href='css/framework7.css')
    link(rel='stylesheet', href='css/framework7.themes.css')
    link(rel='stylesheet', href='css/theme-jsconf.css')
    link(rel='stylesheet', href='css/ionicons.min.css')
    link(rel='stylesheet', href='css/my-app.css')
    //- script(type='text/javascript', src='phonegap.js')
    //- <script type="text/javascript" src="cordova.js"></script>
  body
    .statusbar-overlay
    .panel-overlay

    .login-screen.modal-in
      .view
        .page
          .page-content.login-screen-content
            img.logo(src='img/logo.png')
            .login-buttons
              .row
                .col-100
                  button#login.botonFacebook.botonLogin(onclick="hello.login('facebook');")
                    i.icon.iconFacebook  
                    |  Entrar con Facebook
              .row
                .col-100
                  button#login.botonTwitter.botonLogin(onclick="hello.login('twitter');")
                    i.icon.iconTwitter
                    |  Entrar con Twitter
            img.imgLogin(src='img/background.png')
    // PANEL IZQUIERDO
    .panel.panel-left.panel-reveal
      // place panel title if you want
      .row.profile
        .col-33
          img.userPic(src='')
        .col-66
          .userName
      .row.shareSection
        .col-100
          button.botonTwitter.botonShare(onclick="window.plugins.socialsharing.share(null, null, null, 'www.jsconfar.com')") Share
      .list-block
        ul
          // each list item is a link to a tab or an external page
          li
            a.close-panel.item-link.tab-link(href='#view-speakers')
              .item-content
                .item-media
                  i.icon.iconSpeakers
                .item-inner
                  .item-title Speakers
          li
            a.close-panel.item-link.tab-link(href='#view-agenda')
              .item-content
                .item-media
                  i.icon.iconAgenda
                .item-inner
                  .item-title Agenda
          li
            a.close-panel.item-link.tab-link(href='#view-mapaInterno')
              .item-content
                .item-media
                  i.icon.iconMapa
                .item-inner
                  .item-title Mapa
          li
            a.close-panel.item-link.tab-link.needs-conn(href='#view-help')
              .item-content
                .item-media
                  i.icon.iconHelp
                .item-inner
                  .item-title Help
          li
            a.close-panel.item-link.tab-link(href='#view-about')
              .item-content
                .item-media
                  i.icon.iconAbout
                .item-inner
                  .item-title About
      .list-block.logout
        ul
          li
            a#logout.close-panel.item-link(href='#')
              .item-content
                .item-media
                  i.icon.iconLogout
                .item-inner
                  .item-title.textLogout Log Out
    // Views, and they are tabs
    // We need to set "toolbar-through" class on it to keep space for our tab bar
    .views.tabs.toolbar-through
      // Your first view, it is also a .tab and should have "active" class to make it visible by default
      // VISTAS DESDE EL TABBAR
      #view-home.view.view-main.tab.active
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center JSConf Ar
        .pages.navbar-through
          // Page, data-page contains page name
          .page(data-page='home')
            // Scrollable page content
            .page-content
              .content-block.inset
                // contenedor de bloque de texto de la pagina about
                .content-block-title Welcome to JSConfAR
                .content-block-inner
                  p The event will be held on November 29 in Buenos Aires, Argentina.
                  .content-block-title The Venue:
                  p
                    | Auditorio Bs As 
                    br
                    | Buenos Aires Design 
                    br
                    | Av. Pueyrredon 2501
      #view-mensajes.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center JSConf Ar
        .pages.navbar-through
          // Page, data-page contains page name
          .page(data-page='home')
            // Scrollable page content
            .page-content
              .content-block.inset.listaMensajes
                .preloaderContainer
                  span.preloader(style='width:42px; height:42px')
                // contenedor de bloque de texto de la pagina about
      #view-agenda.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Agenda
        .pages.navbar-through
          .page(data-page='index-5')
            .page-content
              // list with every item in the agenda json file
              .listaAgenda
      #view-mapa.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Map
        .pages.navbar-through
          .page(data-page='index-2')
            .page-content
              // container for the google maps instance
              #map_canvas
      #view-speakers.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Speakers
        .pages.navbar-through
          .page(data-page='index-3')
            .page-content
              .list-block.media-list.contacts-list.searchbar-found
                .list-group
                  // list with every item in the speakers json file
                  ul.listaSpeakers.listWhite
      #view-chatRooms.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Chat
            .right
              a.prompt-newRoom.link.icon-only(href='#')
                i.icon.icon-newChat
        .pages.navbar-through
          // Page, data-page contains page name
          .page(data-page='rooms')
            .page-content
              .list-block
                // list with every chatroom in firebase
                ul.roomsList.listWhite
      #view-chat.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center.roomTitle CurrentRoom
        // Pages
        .pages
          // Page, data-page contains page name
          .page.no-toolbar.toolbar-fixed(data-page='messages')
            // message bar
            .toolbar.messagebar
              .toolbar-inner
                a#sendPhoto.link.icon-only.needs-conn(href='#')
                  i.icon.icon-camera
                textarea(placeholder='Message')
                a.link.needs-conn(href='#') Send
            // messages container
            .page-content.messages-content
              .messages
      // VISTAS DESDE EL LEFT PANEL
      #view-tweets.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center JSConf Ar
        .pages.navbar-through
          .page(data-page='tweets')
            .page-content
              #contenedorTwitter
      #view-help.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Help
        .pages.navbar-through
          .page(data-page='help')
            .page-content
              .list-block
                ul.listWhite
                  li
                    a.item-link.tab-link(href='#view-mapa')
                      .item-content
                        .item-media
                          i.icon.iconLocation
                        .item-inner
                          .item-title Buenos Aires City Map
                  li
                    a.item-link.tab-link(href='#view-wifi')
                      .item-content
                        .item-media
                          i.icon.iconWifi
                        .item-inner
                          .item-title Wifi Passwords
                  li
                    a.item-link.tab-link(href='#view-hospitals')
                      .item-content
                        .item-media
                          i.icon.iconHospital
                        .item-inner
                          .item-title Hospitals
                  li
                    a.item-link.tab-link(href='#view-police')
                      .item-content
                        .item-media
                          i.icon.iconPolice
                        .item-inner
                          .item-title Police Stations
      #view-wifi.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center WifiPasswords
        .pages.navbar-through
          .page(data-page='wifi')
            .page-content
              .list-block
                ul.listWhite.wifiList
      #view-mapaPH.view.tab
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Location
        .pages.navbar-through
          .page(data-page='location')
            .page-content
              // container for the google maps instance
              #map_canvasPH
      #view-hospitals.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Hospitals
        .pages.navbar-through
          .page(data-page='hospitals')
            .page-content
              .list-block.media-list.contacts-list.searchbar-found
                .list-group
                  // list with every item in the speakers json file
                  ul.listWhite.listHospitals
      #view-police.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Police Stations
        .pages.navbar-through
          .page(data-page='police')
            .page-content
              .list-block.media-list.contacts-list.searchbar-found
                .list-group
                  // list with every item in the speakers json file
                  ul.listWhite.listPolice
      #view-mapaInterno.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center Map
        .pages.navbar-through
          // Page, data-page contains page name
          .page.mapaI(data-page='mapaInterno')
            // Scrollable page content
            .page-content.mapaI
              .content-block
                // contenedor de bloque de texto de la pagina about
                .content-block-inner
                  img.imgMapaI(src='img/mapa.png')
      #view-about.view.tab
        // Pages
        .navbar
          .navbar-inner
            .left
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars
            .center About Us
        .pages.navbar-through
          // Page, data-page contains page name
          .page(data-page='about')
            // Scrollable page content
            .page-content
              .content-block.about
                // contenedor de bloque de texto de la pagina about
                .content-block-inner.about
                  p
                    | JSConf is an unique conference organization, beause we aren't really a conference organization at all. We are a very loose federation of developers who share the same general idea about how a technical conference should be held. We don't believe that one model or process fits all communities, in fact we are big advocates of locally run events driven by passionate individuals dedicated to the community. We make events that aren't from the standard conference playbook because we believe you (attendees, speakers and sponsors) deserve more than that.
                  img(src='img/fondoAbout.png')
      // Bottom Tabbar
      .toolbar.tabbar.tabbar-labels
        .toolbar-inner
          // a link for every page i want to link from my tabbar toolbar
          a.tab-link.active(href='#view-home')
            i.icon.iconHome
            span.tabbar-label Home
          a.tab-link.needs-conn(href='#view-mensajes')
            i.icon.iconMensajes
            span.tabbar-label Mensajes
          a.tab-link.needs-conn(href='#view-tweets')
            i.icon.iconTweets
            span.tabbar-label Tweets
          a.tab-link.needs-conn.botonChat(href='#view-chatRooms')
            i.icon.iconChat
            span.tabbar-label Chat
    script(type='text/javascript', src='js/framework7.min.js')
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='js/app.js')